.nav-blue
    height: 56px
    background-color: $persian-blue
    padding: 10px
    display: flex
    justify-content: space-between

.logo-container
    img
      width: 140px  

.menuicon-container
    button
        background-color: transparent 
        border: none

.container-es-en
    height: 42px
    margin-right: 15px
    p
        color: white
        font-family: Oswald-Ligth

.container-hamb-log
    display: flex
    align-items: center
    

    
