.login-container {
  color: white;
  background-color: #AB0954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container form div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container form div p {
  font-size: 18px;
  font-family: Oswald-Ligth;
}

.login-container div input {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160px;
  height: 40px;
  background: none;
  border: none;
  color: white;
  font-family: Oswald-Regular;
  font-size: 18px;
}

.login-container div img {
  margin-top: 80px;
  width: 186px;
}

.container-inputs {
  margin-top: 40px;
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 24px;
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-button-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.button-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #1930DB;
  width: 138px;
  height: 38px;
  border-radius: 3px;
}

.highcharts-title, .highcharts-subtitle, .highcharts-yaxis .highcharts-axis-title {
  color: white;
}

.footprint-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  background-color: #8c97ed;
  border: 1px solid #1930DB;
  border-width: 4px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.emission-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamification-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.squad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container {
  background-color: #1930DB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-left: 20px;
}

.menuIcon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menuIcon-container img {
  width: 18px;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-family: Oswald-Regular;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.logo-container img {
  width: 186px;
}

.company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  width: 100vw;
  margin-bottom: 35px;
}

.company-info {
  font-family: Oswald-Ligth;
  color: #fff;
  position: absolute;
  margin-left: 30px;
  width: 250px;
  margin-top: 35px;
}

.circle-one {
  background-color: #AB0954;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 30px;
}

.graphic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.circle-two {
  background-color: #ffbc15;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 30px;
}

.titles-foot {
  margin-left: 10px;
  font-family: Oswald-Ligth;
}

.titles-foot2 {
  margin-left: 30px;
  margin-right: 30px;
  font-family: Oswald-Regular;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titles-container {
  margin-top: -40px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #AB0954;
  margin-top: 30px;
}

.footer-title {
  font-family: Oswald-Ligth;
  color: #fff;
  margin-left: 30px;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.img-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 110px;
  height: 30px;
  margin-top: 30px;
}

.img-social-icons {
  width: 20px;
}

.copyright {
  margin-left: 10px;
  font-family: Oswald-Ligth;
  font-size: 10px;
  color: #ffffff;
  margin-top: 0px;
}

body {
  margin: 0;
}

@font-face {
  font-family: Oswald-Regular;
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: Oswald-Ligth;
  src: url("../../assets/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: Oswald-SemiBold;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: Oswald-Bold;
  src: url("../../assets/fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: Knockout-HTF49-Liteweight;
  src: url("../../assets/fonts/Knockout-HTF49-Liteweight.ttf");
}
/*# sourceMappingURL=main.css.map */