.login-container {
  background-color: #AB0954;
  color: white;
  background-color: #AB0954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.login-container form div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container form div p {
  font-size: 18px;
  font-family: Oswald-Ligth;
}

.login-container div input {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160px;
  height: 40px;
  background: none;
  border: none;
  color: white;
  font-family: Oswald-Regular;
  font-size: 18px;
}

.login-container div img {
  margin-top: 80px;
  width: 186px;
}

.container-inputs {
  margin-top: 40px;
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 24px;
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-button-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.button-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #1930DB;
  width: 138px;
  height: 38px;
  border-radius: 3px;
}

.highcharts-title, .highcharts-subtitle, .highcharts-yaxis .highcharts-axis-title {
  color: white;
}

.container-body-footprint {
  background-image: url("../../assets/img/my-footprint/montagnas.png");
  background-repeat: no-repeat;
}

.title-welcome {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.title-welcome p {
  width: 340px;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container div {
  width: 85%;
}

.content-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.container-button-co2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-button-co2 button {
  font-family: Knockout-HTF49-Liteweight;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: white;
  background-color: #AB0954;
  border: none;
  width: 138px;
  height: 38px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.month {
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.container-buttons-img {
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.container-buttons-img div button {
  background-color: transparent;
  border: none;
}

.container-buttons-img div button img {
  width: 47px;
}

.welcome-title-user {
  font-size: 24px;
  margin-bottom: -1px;
}

.ligth-font {
  font-family: Oswald-Ligth;
}

.nav-blue {
  height: 56px;
  background-color: #1930DB;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container img {
  width: 140px;
}

.menuicon-container button {
  background-color: transparent;
  border: none;
}

.container-es-en {
  height: 42px;
  margin-right: 15px;
}

.container-es-en p {
  color: white;
  font-family: Oswald-Ligth;
}

.container-hamb-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-section-myfootprint2 {
  margin-top: 115px;
}

.mobile-transition {
  display: none;
}

@media (max-width: 400px) {
  .mobile-transition {
    display: block;
    width: 360px;
    position: absolute;
    z-index: 1;
    margin-top: -140px;
  }
  .text-transition {
    width: 262px;
    position: absolute;
    z-index: 2;
    left: 24px;
    color: white;
    margin-top: -120px;
  }
  .container-chart-individual {
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-chart-individual div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }
}

.congratulations-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: .1em;
  margin-top: 10px;
}

.congratulations-text button {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
}

.congratulations-text button img {
  width: 24px;
}

.year-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-myactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-video {
  width: 328px;
}

.transition-actions-img {
  display: none;
}

.container-arts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  width: 293px;
}

.img-art {
  width: 120px;
}

.text-art {
  width: 120px;
  text-align: center;
}

.container-text-video {
  margin-top: 150px;
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container-video-img {
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-general-arts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-art-individual {
  margin-right: 15px;
}

.button-share-actions {
  background: transparent;
  border: none;
}

.button-share-actions img {
  width: 18px;
}

.container-share-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 400px) {
  .transition-actions-img {
    width: 360px;
    display: block;
    position: absolute;
    z-index: 1;
  }
  .transition-actions-text {
    left: 85px;
    position: absolute;
    z-index: 2;
    font-size: 18px;
  }
  .transition-actions-text p {
    color: white;
    width: 262px;
  }
  .slider {
    width: 280px;
  }
}

.company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  width: 100vw;
  margin-bottom: 35px;
}

.company-info {
  font-family: Oswald-Ligth;
  color: #fff;
  position: absolute;
  margin-left: 30px;
  width: 250px;
  margin-top: 35px;
}

.circle-one {
  background-color: #AB0954;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 30px;
}

.graphic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.circle-two {
  background-color: #ffbc15;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 30px;
}

.titles-foot {
  margin-left: 10px;
  font-family: Oswald-Ligth;
}

.titles-foot2 {
  margin-left: 30px;
  margin-right: 30px;
  font-family: Oswald-Regular;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titles-container {
  margin-top: -40px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #AB0954;
  margin-top: 30px;
}

.footer-title {
  font-family: Oswald-Ligth;
  color: #fff;
  margin-left: 30px;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.img-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 110px;
  height: 30px;
  margin-top: 30px;
}

.img-social-icons {
  width: 20px;
}

.copyright {
  margin-left: 10px;
  font-family: Oswald-Ligth;
  font-size: 10px;
  color: #ffffff;
  margin-top: 0px;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Oswald-Regular;
}

@font-face {
  font-family: Oswald-Regular;
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: Oswald-Ligth;
  src: url("../../assets/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: Oswald-SemiBold;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: Oswald-Bold;
  src: url("../../assets/fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: Knockout-HTF49-Liteweight;
  src: url("../../assets/fonts/Knockout-HTF49-Liteweight.ttf");
}
/*# sourceMappingURL=main.css.map */